@font-face {
    font-family: "bebas neue";
    src: url(font/bebas_neue/BebasNeue.otf);
}

@font-face {
    font-family: "museo";
    src: url(font/MuseoSans/MuseoSans-300.otf);
}

content {
    width: 960px;
    margin 0 auto;
}


/*BLOC 1*/

#bloc-1 {
    width: 100%;
    min-height: 100vh;
    background-color: #162d55;
    position: relative;
}

#bloc-1 .boutons {
    float: right;
    margin-right: 20px;
}

#bloc-1 button {
    color: #c89123;
    width: 150px;
    font-family: "bebas neue";
    font-size: 18px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 2px solid #c89123;
    border-radius: 10px;
    padding: 5px;
}

#bloc-1 #inscription {
    position: absolute;
    top: 30px;
    right: 180px;
}

#bloc-1 #connect {
    position: absolute;
    top: 30px;
    right: 30px;
}

#bloc-1 #deconnexion {
    position: absolute;
    top: 30px;
    right: 30px;
}

#bloc-1 ul li {
    color: #c89123;
    font-family: "museo";
    font-size: 16px;
}

#bloc-1 ul {
    margin-left: 20px;
    padding-top: 30px;
}

#bloc-1 .menu {
    float: right;
    width: 150px;
    font-family: "bebas neue";
    font-size: 22px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    display: none;
}

#bloc-1 .menu form {
    width: 100%;
    text-align: center;
}

#bloc-1 .menu label {
    font-size: 12px;
    font-family: "museo";
    margin-left: 10px;
}

#bloc-1 .menu #pseudoconnect {
    margin-left: 13px;
    border: none;
    outline: none;
}

#bloc-1 .menu #passwordconnect {
    margin-left: 13px;
    border: none;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #413f41;
}

#bloc-1 .menu .btn {
    margin-left: 13px;
    background-color: #c89123;
    border-radius: 5px;
    border: none;
    color: #12254C;
    font-family: "museo";
    outline: none;
    cursor: pointer;
}

#bloc-1 #inscription {
    margin-right: 20px;
}

#bloc-1 #voiture {
    clear: both;
    width: 45%;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

h1 {
    font-family: "bebas neue";
    font-size: 65px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

#bloc-1 p {
    color: white;
    text-align: center;
    font-family: museo;
    opacity: 0.7;
}

#bloc-1 #play {
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-decoration: none;
}

#bloc-1 #arrow {
    clear: both;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 30px;
}

#bloc-1 a {
    text-decoration: none;
}

#pourjouer {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: "museo";
    font-size: 14px;
    display: none;
    margin-top: 8px;
}


/*FIN BLOC 1*/


/*BLOC 2*/

#bloc-2 {
    width: 100%;
    min-height: 100vh;
}

#bloc-2 #story {
    width: 100%;
    height: 50vh;
    background-color: #fb6542;
}

#bloc-2 #competition {
    height: 50vh;
    background-color: #896e69;
}

#bloc-2 h2 {
    font-family: "bebas neue";
    font-size: 40px;
    color: white;
    padding-top: 50px;
    margin-left: 100px;
}

#bloc-2 p {
    font-family: "museo";
    line-height: 40px;
    font-size: 18px;
    color: white;
    width: 900px;
    margin-left: 100px;
    padding-top: 40px;
}

#bloc-2 #back-car {
    float: right;
    width: 40%;
    transform: translateY(-50%);
    margin-right: 20px;
}

#texte {
    display: none;
}

#test {
    text-align: center;
    color: white;
    font-size: 26px;
    padding-top: 90px;
    font-family: "museo";
}


/*FIN BLOC 2*/


/*BLOC 3*/

#bloc-3 {
    width: 100%;
    min-height: 100vh;
    background-color: #8eba43;
}

#bloc-3 h2 {
    font-family: "bebas neue";
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 50px;
}

#bloc-3 table {
    margin: 0 auto;
    margin-top: 20px;
}

#bloc-3 tr td {
    border: 1px solid #7d7d7d;
    text-align: center;
    color: white;
    line-height: 30px;
    font-family: "museo";
}

#bloc-3 tr:first-child td {
    height: 50px;
    line-height: 50px;
    font-family: "bebas neue";
    font-size: 30px;
}

#bloc-3 td {
    width: 250px;
    height: 30px;
}

#bloc-3 button {
    color: white;
    width: 150px;
    font-family: "bebas neue";
    font-size: 18px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 2px solid #7d7d7d;
    border-radius: 10px;
    margin: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#bloc-3 #front_car {
    width: 25%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#bloc-3 li {
    display: inline-block;
}

#bloc-3 ul {
    text-align: center;
}

#bloc-3 .ranking_jour {
    visibility: hidden;
    display: none;
}

#bloc-3 .score {
    visibility: hidden;
    display: none;
}


/*FIN BLOC 3*/


/*FOOTER*/

footer {
    width: 100%;
    height: 100px;
    background-color: #12254C;
}

footer p {
    font-family: "museo";
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 15px;
}



/*SELIM*/

a{
    text-decoration: none;
}
.ranking{
    display: none;
}

.ranking-jour{
    display: none;
}

.ranking-pays{
    display: none;
}
.active{
    display: table;
}